@import '../../../public/css/var.scss';

.news__box {
    margin-top: 64px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    .news__img {
        width: 160px;    
    }
    .news__content {
        padding: 20px;
        &--date {
            font-size: 14px;
            color: $light-blue;
            margin-bottom: 8px;
        }
        &--text {
            font-size: 18px;
            margin-bottom: 24px;
        }
        .news-view {
            display: flex;
            align-items: center;
            img {
                margin-right: 5px;
            }
            span {
                margin-right: 10px;
            }
        }
    }
}