<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card stat-widget">
            <div class="card-body">
                <h5 class="card-title">Bo'limlar</h5>
                    <h2>{{category.length}}</h2>
                    <p>Bo'limlar soni</p>
                    <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="{{category.length}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card stat-widget">
            <div class="card-body">
                <h5 class="card-title">Shifokorlar</h5>
                    <h2>{{doctors.length}}</h2>
                    <p>Shifokorlar soni</p>
                    <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="{{doctors.length}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
            </div>
        </div>
    </div>
</div>